.App{
  width:70%;
  border: 1px solid lightgray;
  margin: 0 auto;
  margin-top: 40px;
  border-radius: 5px;
  background-color: #adb7be05;
  
}

.appHeader{
  font-family: 'Saira Stencil One', cursive;
  color: #13246957;
  margin-bottom: 0;
  font-size: 4em;
}

.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1% 3%;
}

.searchInput{
  width: 40%;
  border-radius: 5px;
  padding-left: 7px;
}

.productImage{
  width: 50px;
  float: left;
  margin-right: 3%;
}

.catalogItem{
  margin: 1% 3%;
}
.catalogList li:first-child{
  margin-top: 0;
}

.catalogList{
  padding: 0;
}

.itemDescription{
  margin-top: 15px;
}

.hideDescription{
  display: none;
}